
<div class="container">
  <div class="row">
    <div class="col-1">
      <mat-card class="example-card"  style="height: 50px; width: 50px;">
        <mat-card-header></mat-card-header>
         
      </mat-card>

    </div>
    <div class="col-1">
        <mat-card class="example-card"  style="height: 50px; width: 50px;">
          <mat-card-header>
  
          </mat-card-header>
           
        </mat-card>
  
      </div>
      <div class="col-1">
          <mat-card class="example-card"  style="height: 50px; width: 50px;">
            <mat-card-header>
    
            </mat-card-header>
             
          </mat-card>
    
        </div>
        <div class="col-1">
            <mat-card class="example-card"  style="height: 50px; width: 50px;">
              <mat-card-header>
      
              </mat-card-header>
               
            </mat-card>
      
          </div>
          <div class="col-1">
              <mat-card class="example-card"  style="height: 50px; width: 50px;">
                <mat-card-header>
        
                </mat-card-header>
                 
              </mat-card>
        
            </div>
            <div class="col-1">
                <mat-card class="example-card"  style="height: 50px; width: 50px;">
                  <mat-card-header>
          
                  </mat-card-header>
                   
                </mat-card>
          
              </div>
              <div class="col-1">
                  <mat-card class="example-card"  style="height: 50px; width: 50px;">
                    <mat-card-header>
            
                    </mat-card-header>
                     
                  </mat-card>
            
                </div>
                <div class="col-1">
                    <mat-card class="example-card"  style="height: 50px; width: 50px;">
                      <mat-card-header>
              
                      </mat-card-header>
                       
                    </mat-card>
              
                  </div>
                  <div class="col-1">
                      <mat-card class="example-card"  style="height: 50px; width: 50px;">
                        <mat-card-header>
                
                        </mat-card-header>
                         
                      </mat-card>
                
                    </div>
                    <div class="col-1">
                        <mat-card class="example-card"  style="height: 50px; width: 50px;">
                          <mat-card-header>
                  
                          </mat-card-header>
                           
                        </mat-card>
                  
                      </div>
                      <div class="col-1">
                          <mat-card class="example-card"  style="height: 50px; width: 50px;">
                            <mat-card-header>
                    
                            </mat-card-header>
                             
                          </mat-card>
                    
                        </div>
                        <!-- <div class="col-1">
                            <mat-card class="example-card"  style="height: 50px; width: 50px;">
                              <mat-card-header>
                      
                              </mat-card-header>
                               
                            </mat-card>
                      
                          </div> -->

  </div>
  
  <div class="row ">
      <div class="col-6">
          <mat-card class="example-card"  style="height: 50px; width: 50px;">
              <mat-card-header>
      
              </mat-card-header>
               
            </mat-card>
      </div>
      <div class="col-6">
          <mat-card class="example-card"  style="height: 50px; width: 50px;">
              <mat-card-header>
      
              </mat-card-header>
               
            </mat-card>
        </div>
  
    </div>
    <div class="row ">
        <div class="col-6">
            <mat-card class="example-card"  style="height: 50px; width: 50px;">
                <mat-card-header>
        
                </mat-card-header>
                 
              </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="example-card"  style="height: 50px; width: 50px;">
                <mat-card-header>
        
                </mat-card-header>
                 
              </mat-card>
          </div>
    
      </div>
      <div class="row ">
          <div class="col-6">
              <mat-card class="example-card"  style="height: 50px; width: 50px;">
                  <mat-card-header>
          
                  </mat-card-header>
                   
                </mat-card>
          </div>
          <div class="col-6">
              <mat-card class="example-card"  style="height: 50px; width: 50px;">
                  <mat-card-header>
          
                  </mat-card-header>
                   
                </mat-card>
            </div>
      
        </div>
        <div class="row ">
            <div class="col-6">
                <mat-card class="example-card"  style="height: 50px; width: 50px;">
                    <mat-card-header>
            
                    </mat-card-header>
                     
                  </mat-card>
            </div>
            <div class="col-6">
                <mat-card class="example-card"  style="height: 50px; width: 50px;">
                    <mat-card-header>
            
                    </mat-card-header>
                     
                  </mat-card>
              </div>
        
          </div>
          <div class="row ">
              <div class="col-6">
                  <mat-card class="example-card"  style="height: 50px; width: 50px;">
                      <mat-card-header>
              
                      </mat-card-header>
                       
                    </mat-card>
              </div>
              <div class="col-6">
                  <mat-card class="example-card"  style="height: 50px; width: 50px;">
                      <mat-card-header>
              
                      </mat-card-header>
                       
                    </mat-card>
                </div>
          
            </div>
            <div class="row ">
                <div class="col-6">
                    <mat-card class="example-card"  style="height: 50px; width: 50px;">
                        <mat-card-header>
                
                        </mat-card-header>
                         
                      </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="example-card"  style="height: 50px; width: 50px;">
                        <mat-card-header>
                
                        </mat-card-header>
                         
                      </mat-card>
                  </div>
            
              </div>
              <div class="row ">
                  <div class="col-6">
                      <mat-card class="example-card"  style="height: 50px; width: 50px;">
                          <mat-card-header>
                  
                          </mat-card-header>
                           
                        </mat-card>
                  </div>
                  <div class="col-6">
                      <mat-card class="example-card"  style="height: 50px; width: 50px;">
                          <mat-card-header>
                  
                          </mat-card-header>
                           
                        </mat-card>
                    </div>
              
                </div>
                <div class="row ">
                    <div class="col-6">
                        <mat-card class="example-card"  style="height: 50px; width: 50px;">
                            <mat-card-header>
                    
                            </mat-card-header>
                             
                          </mat-card>
                    </div>
                    <div class="col-6">
                        <mat-card class="example-card"  style="height: 50px; width: 50px;">
                            <mat-card-header>
                    
                            </mat-card-header>
                             
                          </mat-card>
                      </div>
                
                  </div>
                  <div class="row ">
                      <div class="col-6">
                          <mat-card class="example-card"  style="height: 50px; width: 50px;">
                              <mat-card-header>
                      
                              </mat-card-header>
                               
                            </mat-card>
                      </div>
                      <div class="col-6">
                          <mat-card class="example-card"  style="height: 50px; width: 50px;">
                              <mat-card-header>
                      
                              </mat-card-header>
                               
                            </mat-card>
                        </div>
                  
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <mat-card class="example-card"  style="height: 50px; width: 50px;">
                                <mat-card-header>
                        
                                </mat-card-header>
                                 
                              </mat-card>
                        </div>
                        <div class="col-6">
                            <mat-card class="example-card"  style="height: 50px; width: 50px;">
                                <mat-card-header>
                        
                                </mat-card-header>
                                 
                              </mat-card>
                          </div>
                    
                      </div>


    <div class="row">
    <div class="col-6">
        <mat-card class="example-card"  style="height: 50px; width: 50px;">
            <mat-card-header>
    
            </mat-card-header>
             
          </mat-card>
      </div>

      <div class="col-6">
        <mat-card class="example-card"  style="height: 50px; width: 50px;">
            <mat-card-header>
    
            </mat-card-header>
             
          </mat-card>
    
  
</div>
</div>
</div>